body {
    padding: 2px;
}

.what-killed-me-link {
    text-decoration: underline;
    cursor: pointer;
}
.link-button {
    cursor: pointer;
}
.placeholder {
    border: 1px;
    border-style: dashed;
    margin: 8px;
}
.placeholder-text {
    text-decoration: line-through;
}
#killed-table tr,
#bosstable tr {
    cursor: pointer;
}
#killed-table tr td:first-of-type,
#bosstable tr td:first-of-type {
    width: 130px !important;
}

.modal-dialog {
    max-width: 95% !important;
}

.tab-content {
    padding-top: 80px;
}




.th-sort-link {
    cursor: pointer; 
    -webkit-user-select: none;
}
