body {
    padding: 2px;
}

.what-killed-me-link {
    text-decoration: underline;
    cursor: pointer;
}
.placeholder {
    border: 1px;
    border-style: dashed;
    margin: 8px;
}
#killed-table tr,
#bosstable tr {
    cursor: pointer;
}
#killed-table tr td:first-of-type,
#bosstable tr td:first-of-type {
    width: 130px !important;
}

.modal-dialog {
    max-width: 95% !important;
}