body {
    padding: 2px;
}

.what-killed-me-link {
    text-decoration: underline;
    cursor: pointer;
}
.placeholder {
    border: 1px;
    border-style: dashed;
    margin: 8px;
}
#bosstable tr {
    cursor: pointer;
}
#bosstable tr td:first-of-type {
    width: 130px !important;
}